# Build and Release Folders
bin-debug/
bin-release/
target/

# Project property files
.actionScriptProperties
.flexLibProperties
.flexProperties
.settings/
.project
.DS_Store
*.swc
*.swf
WorkflowAirToolkit/.flexLibProperties

WorkflowAirToolkit/target/WorkflowAirToolkit-configs.xml

ASToolkitCommons/.flexLibProperties
